* {
    bg-col:          #2D2E30;  /* Темно-серый фон */
    bg-col-light:    #3D3E41;  /* Фон самого бара */
    border-col:      #2D2E30;  /* ТЕМНО-СЕРЫЙ БОРДЕР (как модули) */
    selected-col:    #3D3E41;  /* Цвет выделения элемента */
    blue:            #83A6BF;  /* Голубой акцент для промпта */
    fg-col:          #ffffff;  /* Белый текст */
    fg-col2:         #83A6BF;
    grey:            #D9E0EE;
    width:           600;
}
