/* Сгенерировано hypr-themer — не редактируйте вручную */

.control-center {
    background: #0c0d07;
    color: #babaaf;
    border: 2px solid #484C37;
}

.notification {
    background: #0c0d07;
    color: #babaaf;
    border: 1px solid #484C37;
    border-radius: 8px;
}

.notification .summary {
    color: #484C37;
    font-weight: bold;
}

.notification .body {
    color: #babaaf;
}

.close-button {
    background: #484C37;
    color: #0c0d07;
    border-radius: 50%;
}

.close-button:hover {
    background: #5B623D;
}
